<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Moment</title>
</head>
<body>
    <h2> The SPORT</h2>
    <p>Lets see the curriculum vitae</p>

    <nav>
        <div class="div"> <a href="/">Cloud</a></div>
        <ul>
            <li> <a href="/"></a>Home</li>
            <li><a href= "/about">About Page</a></li>
            <li><a href= "/404">404 Page</a></li>

        </ul>
    </nav>
</body>
</html>